@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


/*

   FED CA2 - Applied AI and Analytics Training and Consultancy
   Author: Hew Yi Yun
   Date:   12 July 2020
   
   Filename: index.css

*/


/* Structural Styles */


html {
   background-image: url(../Images/indexBg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
   min-width: 320px;
   background-color: rgba(255,255,255,0.3);
   box-shadow: white 0px 0px 20px;
}

#wrapper {
   position: relative;
   overflow-x: hidden;
}

body > header > img {
   width: 100%;
	display: block;
	margin: 0;
}

/* Container holding the image and the text */
#heading {
   position: relative;
   text-align: center;
   color: white;
}
 
 
/* Centered text */
.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size:5em;
   font-family: 'Russo One', sans-serif;
}
 
@media (max-width:629px) {
   .centered {
      font-size:2em;
   }
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, ol, p, section, span, ul {

   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}

/* Header Navigation */

.container {
   margin:0;
   padding:0;
   min-width: 100%;
}

.navbar-toggler-icon {
   color:white;
}

.navbar {
   padding:0px;
   background-color: rgba(0,0,0,0.6);
}

.nav-item {
   display: table-cell;
   text-align: center;
   font-size:1.2em;
   letter-spacing: 0.1em;
   padding: 0px;
}


.navbar a:link, .navbar a:visited {
   color: rgb(185, 45, 162);
}


.navbar a:hover, .navbar a:active {
  color: red;
}

/*Side Banner Styles*/

#banner {
   padding-top:20px;
   width:200px;
   position: relative;
   left:20px;
}

@media (max-width:629px) {
   img#banner {
     display: none;
   }
}


/*Text Styles*/

div p, div h3 {
   color:white;
   padding-top: 30px;
   font-size: 1.2em;
}

hr {
   background-color:white;
}

/*Section Styles*/

section p {
   padding-top: 5px;
   color:goldenrod;
}

.sideText {
   padding-left: 5px;
}

/*Card Styles*/

.card-img-top {
   filter: brightness(1.2);
}

.card {
   background-color: rgba(255,255,255,0.2);
   margin: 30px 5px 0px 5px;
}

.card *{
   color:black;
}

#line {
   width:85%;
   border: 1px solid white;
   border-radius: 2px;
}

/*Table Styles*/

.table {
   width: 80%;
   position: relative;
   left:10%;
   background-color: rgba(255,255,255,0.4);
}

.table tr {
   font-size: 1.1em;
   font-weight: bolder;
}

/*Bottom Text*/

#regnow {
   color:white;
}

#regnow i {
   font-size: 5em;
}

#recommend {
   padding-top:10px;
}

/*Footer Styles*/
footer {
   background-color: black;
   color: white;
}


/* 

   References :

   Background: https://www.wallpaperflare.com/3d-lights-portrait-display-vertical-pattern-digital-art-backgrounds-wallpaper-qlcct

*/